type ts_srv, domain;
type ts_srv_exec, exec_type, file_type;
init_daemon_domain(ts_srv)

allow ts_srv self:capability { dac_override sys_nice };
allow ts_srv socket_device:dir { add_name write };
allow ts_srv socket_device:sock_file create_file_perms;
allow ts_srv ts_srv_file:chr_file rw_file_perms;
allow ts_srv ts_srv_file:file rw_file_perms;
allow ts_srv ts_srv_file:dir search;
allow ts_srv uhid_device:chr_file rw_file_perms;

allow ts_srv_file sysfs:filesystem associate;
